<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>20240928</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>19F5CEF0-33F0-41F7-B2D3-E66D2ACEA8C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE64154A-6C7E-4318-91E8-0C2E4FE4C9B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7BDD7BE-1B55-47AA-8005-8F358600AA0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A23471D9-9CC3-4156-9E1A-570455EAA375</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A23471D9-9CC3-4156-9E1A-570455EAA375</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAF64A46-3A1C-4BE5-A817-0AC7F28C26D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>acid</string>
	<key>description</key>
	<string>Search in multiple website in split view via arc</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SplitSearch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.nodeseek.com/search?page=1&amp;q={query}&amp;sortBy=postTime</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DE64154A-6C7E-4318-91E8-0C2E4FE4C9B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.sov2ex.com/?q={query}&amp;gte=1704067200000</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B7BDD7BE-1B55-47AA-8005-8F358600AA0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>split</string>
				<key>subtext</key>
				<string>Searching...{query}</string>
				<key>text</key>
				<string>Split Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>19F5CEF0-33F0-41F7-B2D3-E66D2ACEA8C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://linux.do/search?q={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A23471D9-9CC3-4156-9E1A-570455EAA375</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Events"
	delay 1.0
    repeat 2 times
        -- 按下 Control + Shift + =
        key down control
        key down shift
        keystroke "="
        key up shift
        key up control
        
        -- 按下回车键
        keystroke return
        
        delay 0.5
    end repeat
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AAF64A46-3A1C-4BE5-A817-0AC7F28C26D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>split screen and search via multiple website</string>
	<key>uidata</key>
	<dict>
		<key>19F5CEF0-33F0-41F7-B2D3-E66D2ACEA8C5</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>A23471D9-9CC3-4156-9E1A-570455EAA375</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>AAF64A46-3A1C-4BE5-A817-0AC7F28C26D5</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>B7BDD7BE-1B55-47AA-8005-8F358600AA0E</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>DE64154A-6C7E-4318-91E8-0C2E4FE4C9B5</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
