/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.tab {
    position: relative;
}

.tab .tab-header {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 96%;
    height: 20%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.tab-position.is-pinned .tab-header {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
}

.tab-position.is-pinned .thumbnail-image {
    display: none;
}

.tab .thumbnail-image {
    position: relative;
    z-index: 0;
    border-radius: inherit;
    margin: 2px;
}

.button-toolbar.toolbar-command .button-icon svg path {
    fill: #aec7bf !important;
}
/*========================测试代码区域==========================*/

#tabs-container .tab-strip {
    counter-set: tab-number !important;
}
:has(.button-disabled-preview) #tabs-container .tab-strip > span:nth-child(-n + 8) .tab-position::before {
    counter-increment: tab-number !important;
    content: counter(tab-number) !important;
    position: absolute !important;
    top: 1px !important;
    left: 4px !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 3px !important;
    font-size: 11.5px !important;
    text-align: center !important;
    color: var(--colorFg) !important;
    background-color: var(--colorBgDarker) !important;
    z-index: 1 !important;
}

/*==========================================================*/
div.tab-strip {
    position: relative;
}

button.ToolbarButton-Button .button-title {
    color: white;
}

.UrlBar-UrlObfuscationWarning {
    display: none !important;
}

.ToolbarButton-Button[title="网页提供订阅"] {
    display: none !important;
    float: left;
}

.ToolbarButton-Button[title="翻译页面"] {
    display: none !important;
    float: left;
}

.ToolbarButton-Button[title*="内容拦截器"] {
    display: none !important;
}

.SiteInfoButton-SecurityBadge {
    display: none !important;
}

.BookmarkButton {
    display: none !important;
}

button[title="显示输入记录"] {
    display: none !important;
}

/*.button-addressfield {
    margin-right: 30px;
}
*/

#urlFieldInput {
    text-align: center;
}

.UrlFragment-Wrapper {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);

}

#tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


#browser:not(.is-settingspage) .window-buttongroup {
  display: none !important;
}

.button-toolbar.newtab {
    display: none;
}

.modal-wrapper {
    position: fixed;
    transform: translate(-50%, 20%);
    border-radius: 15px !important;
    opacity: 0.91 !important;
    backdrop-filter: blur(10px);
    width: 650px;
}

.ReactVirtualized__Grid.ReactVirtualized__List,
.ReactVirtualized__Grid__innerScrollContainer {
    max-width: 800px !important;
    width: 100% !important;
}

.quick-commands {
    width: 100% !important;
}

.quick-command-container {
    width: 100% !important;
}

.quick-command-search {
    width: 100% !important;
}

.quick-commands {
    width: 100% !important;
}

.quick-command{
    width: 100% !important;
}

.quick-command-sectionheader {
    width: 100% !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  scrollbar-width: none;
}



/* Vertical Extensions Drop-Down Menu */
.extensionIconPopupMenu {
  --popupWidth: 280px !important;
}
.extensionIconPopupMenu > .toolbar {
  max-height: 50vh;
  overflow: hidden auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.extensionIconPopupMenu .ExtensionDropdownIcon > button {
  justify-content: flex-start;
  padding: 10px;
}
.extensionIconPopupMenu .ExtensionDropdownIcon > button::after {
  content: attr(title);
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-toolbar > button > .button-badge {
  top: auto;
  right: 10px;
}

.toolbar.toolbar-small.toolbar-insideinput {
    display: none;
}

/* Tab tooltip hide thumbnail */
#vivaldi-tooltip .tooltip-item .thumbnail-image {
    display: none !important;
}

.dashboard-widget .url-wrapper {
  display: none;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*
 * Multiple Row Tabs v2 - Created by @hababr
 * Version 2024.10.07
 */

/*******************
 *  Configuration  *
 *******************/
  :root {
    /* That will be the minimum and maximum width of a tab */
    --mrt-min-width: 100px;
    --mrt-max-width: 200px;

    /* Change to 'true' to enable scrollbars for tabs */
    --mrt-scrollbars: false;
    /* Maximum row count after which scrollbars appear if enabled on the previous line */
    --mrt-max-rows: 2.5;

    /* Change to 'true' to hide window control buttons and stretch tabs to full window width */
    --mrt-full-width: false;

    /* Width of a pinned tab/stack, remove or comment out to use same size as for normal tabs */
    --mrt-pinned-stack-width: 60px;
    --mrt-pinned-width: 30px;

    /* Width of the drag area next to the plus button, you may use your mouse there to control the window */
    --mrt-drag-area-width: 30px;
    /* If set to 'false' all empty area of the tab bar can be used to drag the window
       Better to keep 'true' if you use tab popup thumbnails */
    --mrt-use-drag-area: true;

    /* Height of a tab, probably there is no reason to change that */
    --mrt-tab-height: 30px;

    /* Display tab close buttons. 0 - active tab on hover, 1 - any tab on hover, 2 - permanently. Must be enabled in setting also.*/
    --mrt-tab-close: 0;
  }
  #tabs-subcontainer {
    /* Width of tabs inside a tab stack */
    --mrt-min-width: 150px;
    --mrt-max-width: 300px;
  }
/******************/

#browser:is(.tabs-top, .tabs-bottom) {
  --mrt-first-tab-margin: 0px;
  --mrt-workspace-button-width: 52px;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-tabbar-container {
  height: auto !important;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-container:has(.tabbar-workspace-button) {
  --mrt-first-tab-margin: var(--mrt-workspace-button-width);
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer {
  flex-basis: unset !important;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1px;
  row-gap: 1px;
  padding-bottom: 1px;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-container,
#browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer {
  padding-bottom: 0 !important;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip > span {
  min-width: var(--mrt-min-width);
  width: auto;
  display: inline-block;
  position: relative;
  height: fit-content;
  max-width: var(--mrt-max-width);
  flex-grow: 10;
  flex-basis: 0;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-strip > span:last-of-type {
  margin-right: 130px;
}

#browser:is(.tabs-top, .tabs-bottom) .stack-counter {
  display: block !important;
}

#browser:is(.tabs-top, .tabs-bottom) span > .tab-position {
  position: relative;
  height: fit-content;
  width: 100%;
  transform: none;
  will-change: unset;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-position.tab-yield-space {
  position: relative;
  transform: none;
  height: var(--mrt-tab-height);
  min-width: var(--mrt-min-width);
}

#browser:is(.tabs-top, .tabs-bottom) .tab-position:not(.is-substack) .tab.active {
  height: calc(var(--mrt-tab-height) + 1px) !important;
  translate: 0 1px;
  margin-top: -1px;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-position .tab-wrapper {
  margin: 0;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-position .tab {
  width: 100%;
  max-width: 100% !important;
  height: var(--mrt-tab-height) !important;
}

#browser:is(.tabs-top, .tabs-bottom) .tab-position .tab .tab-header {
  padding-left: 6px;
}

#browser:is(.tabs-top, .tabs-bottom) .tab:not(.tab-accordion, .tab-in-accordion) .svg-tab-selection,
#browser:is(.tabs-top, .tabs-bottom) .tab-position .tab .tab-header {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

#browser:is(.tabs-top, .tabs-bottom) .tab:not(.tab-accordion, .tab-in-accordion) .svg-tab-stack {
  max-width: unset;
  width: 100%;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-container .tab-strip > span:has(> .is-pinned:not(.is-substack)) {
  max-width: var(--mrt-pinned-width, var(--mrt-max-width));
  min-width: var(--mrt-pinned-width, var(--mrt-min-width));
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-container .tab-strip > span:has(> .is-pinned.is-substack) {
  max-width: var(--mrt-pinned-stack-width, --mrt-max-width);
  min-width: var(--mrt-pinned-stack-width, --mrt-min-width);
}

#browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar {
  position: relative;
  transform: none;
  flex-grow: 1;
  flex-basis: 0;
  min-width: fit-content;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer .toolbar-tabbar.tab-position {
  flex-grow: 1;
  margin-right: 30px;
}

#browser:is(.tabs-top, .tabs-bottom) .button-toolbar {
  position: relative;
  left: unset !important;
  top: unset !important;
}

#browser:is(.tabs-top, .tabs-bottom) #tabs-container .tab.tab-small.tab-mini .tab-header {
  justify-content: unset;
  padding-left: 6px;
}

#browser:is(.tabs-top, .tabs-bottom) .tab .tab-header .title {
  display: flex !important;
}

/* Float toolbars */
#browser:is(.tabs-top, .tabs-bottom) #tabs-container {
  position: relative;
}
#browser:is(.tabs-top, .tabs-bottom) .tab-strip > .toolbar {
  margin-right: var(--drag-width);
  height: var(--mrt-tab-height);
  margin-left: -130px;
}
#browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar.sync-and-trash-container,
#browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar.subcontainer-lock {
  position: absolute;
  right: 0;
  bottom: 1px;
}
#browser:is(.tabs-top, .tabs-bottom) .tabbar-workspace-button {
  position: absolute;
  top: 0 !important;
  margin-left: 0;
  z-index: 1;
}
/*.tabbar-workspace-button .button-title {
  display: none !important;
}
*/
#browser:is(.tabs-top, .tabs-bottom) #tabs-container .tab-strip > :first-child {
  margin-left: var(--mrt-first-tab-margin);
}

/* To be able to drag the window need to add a margin to the right from the plus button. Its width depends on other buttons presence */
#browser:is(.tabs-bottom) {
  --mrt-drag-area-width: 0px;
}
#browser:is(.tabs-top, .tabs-bottom) #tabs-container .resize {
  --drag-width: var(--mrt-drag-area-width);
}
#browser:is(.tabs-top, .tabs-bottom) #tabs-container .resize:has(.button-toolbar.toggle-trash:not(.hidden), .button-toolbar.synced-tabs-button) {
  --drag-width: calc(var(--mrt-drag-area-width) + 30px);
}
#browser:is(.tabs-top, .tabs-bottom) #tabs-container .resize:has(.button-toolbar.toggle-trash:not(.hidden)):has(.button-toolbar.synced-tabs-button) {
  --drag-width: calc(var(--mrt-drag-area-width) + 2 * 30px);
}
#browser:is(.tabs-top) #tabs-container .tab-strip > .toolbar:after {
    content: '⇵';
    width: var(--mrt-drag-area-width);
    height: calc(100% - 2px);
    right: calc(-1 * var(--mrt-drag-area-width));
    font-size: 16px;
    opacity: .5;
    text-overflow: ellipsis;
    position: absolute;
    background-color: var(--colorAccentBgAlphaHeavy);
    border-radius: var(--currentRadius);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scrollbars enabled */
@container style(--mrt-scrollbars: true) {
  #browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar.sync-and-trash-container,
  #browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar.subcontainer-lock {
    position: relative;
    flex-grow: 0;
    position: relative !important;
  }
  #browser:is(.tabs-top, .tabs-bottom) .tab-strip {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc((var(--mrt-tab-height) + 1px) * var(--mrt-max-rows));
    --mrt-first-tab-margin: 0;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer .toolbar-tabbar.tab-position {
    margin-right: 0;
  }
  #browser:is(.tabs-top, .tabs-bottom) .tabbar-workspace-button {
    position: relative;
    align-self: flex-start;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container.top {
    padding-left: calc(var(--menuWidth) + 1px) !important;
  }
  #browser:is(.tabs-top) .tabbar-workspace-button {
    margin-left: 0 !important;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container .resize {
    --drag-width: var(--mrt-drag-area-width) !important;
  }
}

/* Full width enabled */
@container style(--mrt-full-width: true) {
  #browser:is(.tabs-top, .tabs-bottom) .window-buttongroup {
    display: none !important;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container,
  #browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer {
    padding-bottom: 0 !important;
    padding-right: 0 !important;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container.top {
    padding-right: 0 !important;
  }
  #browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar.sync-and-trash-container {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container.top {
    padding-left: 0;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container.top {
    --mrt-first-tab-margin: var(--menuWidth);
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-container:has(.tabbar-workspace-button).top {
    --mrt-first-tab-margin: calc(var(--menuWidth) + var(--mrt-workspace-button-width));
  }
  #browser:is(.tabs-top) .tabbar-workspace-button {
    margin-left: var(--menuWidth);
  }
}

@container style(--mrt-use-drag-area: false) {
  #browser:is(.tabs-top) #tabs-container .tab-strip > .toolbar:after {
    visibility: hidden;
  }
  #browser:is(.tabs-top, .tabs-bottom) #tabs-subcontainer .toolbar-tabbar.tab-position,
  #browser:is(.tabs-top, .tabs-bottom) .toolbar-tabbar {
    flex-grow: 0;
  }
}

/* Close tab buttons */
#browser:is(.tabs-top, .tabs-bottom):not(.alt-tabs) .tab .favicon {
  display: block;
}
#browser:is(.tabs-top, .tabs-bottom):not(.alt-tabs) .tab .close {
  margin-right: 6px;
}
@container style(--mrt-tab-close: 0) {
  #browser:is(.tabs-top, .tabs-bottom):not(.alt-tabs) .tab.active:hover:not(.button-off, .force-hover) .stack-counter {
    display: none !important;
  }
}
@container style(--mrt-tab-close: 1) {
  #browser:is(.tabs-top, .tabs-bottom):not(.alt-tabs) .tab:hover:not(.button-off, .force-hover) .stack-counter {
    display: none !important;
  }
  #browser:is(.tabs-top, .tabs-bottom).alt-tabs .tab:hover .favicon {
    display: none;
  }
  #browser:is(.tabs-top, .tabs-bottom) .tab:hover .close,
  #browser:is(.tabs-top, .tabs-bottom) .tab.force-hover .close {
    display: flex !important;
  }
}
@container style(--mrt-tab-close: 2) {
  #browser:is(.tabs-top, .tabs-bottom) .tab .close {
    display: flex !important;
    margin-right: 6px;
  }
  #browser:is(.tabs-top, .tabs-bottom) .tab .favicon {
    display: block;
  }
