.tab {
    position: relative;
}

.tab .tab-header {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 96%;
    height: 20%;
    border-radius: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.tab-position.is-pinned .tab-header {
    width: 100%;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    max-width: none;
}

.tab-position.is-pinned .thumbnail-image {
    display: none;
}

.tab .thumbnail-image {
    position: relative;
    z-index: 0;
    border-radius: inherit;
    margin: 2px;
}

.button-toolbar.toolbar-command .button-icon svg path {
    fill: #aec7bf !important;
}
/*========================测试代码区域==========================*/
/* Hold cmd and show tab numbers */
#tabs-container .tab-strip {
    counter-set: tab-number !important;
}
:has(.button-disabled-preview) #tabs-container .tab-strip > span:nth-child(-n + 8) .tab-position::before {
    counter-increment: tab-number !important;
    content: counter(tab-number) !important;
    position: absolute !important;
    top: 1px !important;
    left: 4px !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 3px !important;
    font-size: 11.5px !important;
    text-align: center !important;
    color: var(--colorFg) !important;
    background-color: var(--colorBgDarker) !important;
    z-index: 3 !important;
}

/* Hold cmd and hover to show Bookmarks bar */
#browser {
    --bookmark-bar-hide-delay: 400ms;
    --bookmark-bar-show-ctrlkey: false;
}

.bookmark-bar-top:is(.address-top, .tabs-top) {
    #main:has(.bookmark-bar:hover) #webview-container {
        pointer-events: none !important;
    }
    &.tabs-top #tabs-subcontainer {
        -webkit-app-region: no-drag !important;
    }

    .bookmark-bar {
        height: 0 !important;
        border: none !important;
    }
    .bookmark-bar .observer {
        height: 30px !important;
        color: #aec7bf !important;
        background-color: #16211D !important;
        position: absolute !important;
        z-index: 4 !important;
        width: 100% !important;
        border-bottom: solid 1px var(--colorBorder) !important;
        clip-path: inset(0 0 100% 0) !important;
        transition-delay: var(--bookmark-bar-hide-delay) !important;
    }
    &:has(.button-disabled-preview):has(.tabbar-wrapper:hover).tabs-top .bookmark-bar .observer,
    &:has(.button-disabled-preview).address-top .bookmark-bar:is(.mainbar:not(:has(.OmniDropdown, nav.menu)):hover ~ *) .observer,
    .bookmark-bar:is(:focus-within, :hover) .observer {
        clip-path: inset(0 0 -1px 0) !important;
        transition: clip-path 150ms cubic-bezier(0, 1, 0, 0.9) 50ms !important;
    }
    @container not style(--bookmark-bar-show-ctrlkey: true) {
        &:has(.tabbar-wrapper:hover).tabs-top .bookmark-bar .observer,
        &.address-top .bookmark-bar:is(.mainbar:not(:has(.OmniDropdown, nav.menu)):hover ~ *) .observer,
        .bookmark-bar:is(:focus-within, :hover) .observer {
            clip-path: inset(0 0 -1px 0) !important;
            transition: clip-path 150ms cubic-bezier(0, 1, 0, 0.9) 50ms !important;
        }
    }
    &.animation-off .bookmark-bar .observer {
        transition-duration: 0ms !important;
    }
}

/* 地址栏 */
/*#browser:not(.fullscreen):not(.address-top-off, .address-bottom-off, .address-bottom) #header {
    display: none;
}

#browser:not(.address-top-off, .address-bottom-off, .address-bottom) .mainbar:not(:has(.window-buttongroup.on-mainbar)) {
    min-height: calc(35px / var(--uiZoomLevel));
}

#browser:not(.fullscreen):not(.address-top-off, .address-bottom-off, .address-bottom) .mainbar:not(:has(.window-buttongroup.on-mainbar)) {
    padding-left: calc(68px / var(--uiZoomLevel));
}

#browser:not(.address-top-off, .address-bottom-off, .address-bottom) .mainbar > .toolbar-mainbar {
    min-height: calc(34px / var(--uiZoomLevel));
}*/
/*==========================================================*/
div.tab-strip {
    position: relative;
}

button.ToolbarButton-Button .button-title {
    color: white;
}

.UrlBar-UrlObfuscationWarning {
    display: none !important;
}

.ToolbarButton-Button[title="网页提供订阅"] {
    display: none !important;
    float: left;
}

.ToolbarButton-Button[title="翻译页面"] {
    display: none !important;
    float: left;
}

.ToolbarButton-Button[title*="内容拦截器"] {
    display: none !important;
}

.SiteInfoButton-SecurityBadge {
    display: none !important;
}

.BookmarkButton {
    display: none !important;
}

button[title="显示输入记录"] {
    display: none !important;
}

/*.button-addressfield {
    margin-right: 30px;
}
*/

#urlFieldInput {
    text-align: center;
}

.UrlFragment-Wrapper {
    position: absolute;
    left: 45%;
    transform: translateX(-50%);

}

#tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


#browser:not(.is-settingspage) .window-buttongroup {
  display: none !important;
}

.button-toolbar.newtab {
    display: none;
}

.modal-wrapper:has(.quick-command-container) {
    position: fixed;
    transform: translate(-50%, 20%);
    border-radius: 15px !important;
    opacity: 0.91 !important;
    backdrop-filter: blur(10px);
    width: 650px;
}

.ReactVirtualized__Grid.ReactVirtualized__List,
.ReactVirtualized__Grid__innerScrollContainer {
    max-width: 800px !important;
    width: 100% !important;
}

.quick-commands {
    width: 100% !important;
}

.quick-command-container {
    width: 100% !important;
}

.quick-command-search {
    width: 100% !important;
}

.quick-commands {
    width: 100% !important;
}

.quick-command{
    width: 100% !important;
}

.quick-command-sectionheader {
    width: 100% !important;
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  scrollbar-width: none;
}



/* Vertical Extensions Drop-Down Menu */
.extensionIconPopupMenu {
  --popupWidth: 280px !important;
}
.extensionIconPopupMenu > .toolbar {
  max-height: 50vh;
  overflow: hidden auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}
.extensionIconPopupMenu .ExtensionDropdownIcon > button {
  justify-content: flex-start;
  padding: 10px;
}
.extensionIconPopupMenu .ExtensionDropdownIcon > button::after {
  content: attr(title);
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-toolbar > button > .button-badge {
  top: auto;
  right: 10px;
}

.toolbar.toolbar-small.toolbar-insideinput {
    display: none;
}

/* Tab tooltip hide thumbnail */
#vivaldi-tooltip .tooltip-item .thumbnail-image {
    display: none !important;
}

.dashboard-widget .url-wrapper {
  display: none;
}
