<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clashx</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>090455BE-35FE-4721-8BF1-8E4C0618AB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D80C2CD9-5301-46FC-9BAA-0D63F93452CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C311741-BA40-4F4D-AA69-90AE70D2725A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F65B2EB5-C854-4E89-9043-72669E83A3A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33052B0C-BF8F-42B0-81DC-4A827507D242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD06922B-9D89-4432-A4B9-C0370FD6F12D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44BE9C04-75FA-47A9-B06A-BFD03C4693F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E3F9AD-6ACB-43E1-93FC-A7C6C620A5BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>453A3CFA-11FC-477D-9F4B-284CC4BF6A48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C311741-BA40-4F4D-AA69-90AE70D2725A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E4E28C4-187B-4FB2-8475-12898DC362CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C88B6BC5-3613-4BE1-80E1-11C262278E52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BD2945D-6BF4-4851-9E46-9EC457C756EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0C31C53-AAB9-4537-8DDE-EBA40240A05D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>882E2A7D-87E4-4C14-9BB3-A65C18C0F9C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C8AC05F-457F-40CC-AE87-71CFD0AE21A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EE4D2A8-4FF0-4919-A8CD-96EF324E9A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D804389-9797-47CF-AC8A-E5AEFB24A023</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0C31C53-AAB9-4537-8DDE-EBA40240A05D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>882E2A7D-87E4-4C14-9BB3-A65C18C0F9C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>93EA6915-DFE6-4C2C-AFC6-91B47397538B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD30FC16-9D5F-4DD1-837B-B267C0B0F845</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7BD2945D-6BF4-4851-9E46-9EC457C756EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AD465FD8-48D8-4FCB-ACD6-694CE5C0B6C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63AF6DF2-223C-4202-8DEA-52976E3278C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B71A9C50-4DE7-45F1-866B-027BA831EAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7CEB254-2FDE-46F3-A41F-E7415EEBF549</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AD465FD8-48D8-4FCB-ACD6-694CE5C0B6C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7E3F9AD-6ACB-43E1-93FC-A7C6C620A5BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>090455BE-35FE-4721-8BF1-8E4C0618AB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C88B6BC5-3613-4BE1-80E1-11C262278E52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB69F169-551C-43A9-810A-DB08CEF38385</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EE4D2A8-4FF0-4919-A8CD-96EF324E9A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80C2CD9-5301-46FC-9BAA-0D63F93452CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62C90E29-884B-4D2C-8718-02FB19A6BB06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33052B0C-BF8F-42B0-81DC-4A827507D242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EAA75AA5-3B2E-452C-A2AC-B11315D35B83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E4E28C4-187B-4FB2-8475-12898DC362CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F65B2EB5-C854-4E89-9043-72669E83A3A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B71A9C50-4DE7-45F1-866B-027BA831EAF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD06922B-9D89-4432-A4B9-C0370FD6F12D</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Bennie</string>
	<key>description</key>
	<string>clash快捷指令</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClashX</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已成功回国</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6C8AC05F-457F-40CC-AE87-71CFD0AE21A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>try	tell application "ClashX" to toggleProxy	on error	display dialog "Cannot find ClashX on your menu bar"end try</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>882E2A7D-87E4-4C14-9BB3-A65C18C0F9C1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7BD2945D-6BF4-4851-9E46-9EC457C756EF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>hg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>关闭代理</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AD30FC16-9D5F-4DD1-837B-B267C0B0F845</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A0C31C53-AAB9-4537-8DDE-EBA40240A05D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>本来就在国内</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>93EA6915-DFE6-4C2C-AFC6-91B47397538B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>本来就出国啦！</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EB69F169-551C-43A9-810A-DB08CEF38385</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cg</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>启动代理</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EAA75AA5-3B2E-452C-A2AC-B11315D35B83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5E4E28C4-187B-4FB2-8475-12898DC362CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>C88B6BC5-3613-4BE1-80E1-11C262278E52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>try	tell application "ClashX" to toggleProxy	on error	display dialog "Cannot find ClashX on your menu bar"end trydelay 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8EE4D2A8-4FF0-4919-A8CD-96EF324E9A58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已成功出国</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9D804389-9797-47CF-AC8A-E5AEFB24A023</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>成功切换全局</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62C90E29-884B-4D2C-8718-02FB19A6BB06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "ClashX" to proxyMode "global"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C7E3F9AD-6ACB-43E1-93FC-A7C6C620A5BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>090455BE-35FE-4721-8BF1-8E4C0618AB1E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cggb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>启动代理（全局）</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>44BE9C04-75FA-47A9-B06A-BFD03C4693F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D80C2CD9-5301-46FC-9BAA-0D63F93452CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>try	tell application "ClashX" to toggleProxy	on error	display dialog "Cannot find ClashX on your menu bar"end trydelay 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>33052B0C-BF8F-42B0-81DC-4A827507D242</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已成功出国（全局）</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FD06922B-9D89-4432-A4B9-C0370FD6F12D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>成功切换规则</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A7CEB254-2FDE-46F3-A41F-E7415EEBF549</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F65B2EB5-C854-4E89-9043-72669E83A3A5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>cgr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>启动代理（规则）</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>453A3CFA-11FC-477D-9F4B-284CC4BF6A48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "ClashX" to proxyMode "rule"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C311741-BA40-4F4D-AA69-90AE70D2725A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B71A9C50-4DE7-45F1-866B-027BA831EAF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>try	tell application "ClashX" to toggleProxy	on error	display dialog "Cannot find ClashX on your menu bar"end trydelay 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD465FD8-48D8-4FCB-ACD6-694CE5C0B6C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已成功出国（规则）</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63AF6DF2-223C-4202-8DEA-52976E3278C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Clash 1.91.1更新后的 Apple Script 使用方法：
tell application "ClashX" to toggleProxy // 切换代理开关
tell application "ClashX" to proxyMode "direct" // 切换代理模式
tell application "ClashX" to proxyMode "global"
tell application "ClashX" to proxyMode "rule"</string>
	<key>uidata</key>
	<dict>
		<key>090455BE-35FE-4721-8BF1-8E4C0618AB1E</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>2C311741-BA40-4F4D-AA69-90AE70D2725A</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>33052B0C-BF8F-42B0-81DC-4A827507D242</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>44BE9C04-75FA-47A9-B06A-BFD03C4693F9</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>453A3CFA-11FC-477D-9F4B-284CC4BF6A48</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>5E4E28C4-187B-4FB2-8475-12898DC362CA</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>62C90E29-884B-4D2C-8718-02FB19A6BB06</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>63AF6DF2-223C-4202-8DEA-52976E3278C8</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>975</integer>
		</dict>
		<key>6C8AC05F-457F-40CC-AE87-71CFD0AE21A7</key>
		<dict>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7BD2945D-6BF4-4851-9E46-9EC457C756EF</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>882E2A7D-87E4-4C14-9BB3-A65C18C0F9C1</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>8EE4D2A8-4FF0-4919-A8CD-96EF324E9A58</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>93EA6915-DFE6-4C2C-AFC6-91B47397538B</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>9D804389-9797-47CF-AC8A-E5AEFB24A023</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>A0C31C53-AAB9-4537-8DDE-EBA40240A05D</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>A7CEB254-2FDE-46F3-A41F-E7415EEBF549</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>845</integer>
		</dict>
		<key>AD30FC16-9D5F-4DD1-837B-B267C0B0F845</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>AD465FD8-48D8-4FCB-ACD6-694CE5C0B6C9</key>
		<dict>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>975</integer>
		</dict>
		<key>B71A9C50-4DE7-45F1-866B-027BA831EAF8</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>C7E3F9AD-6ACB-43E1-93FC-A7C6C620A5BF</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>C88B6BC5-3613-4BE1-80E1-11C262278E52</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>D80C2CD9-5301-46FC-9BAA-0D63F93452CE</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>EAA75AA5-3B2E-452C-A2AC-B11315D35B83</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>EB69F169-551C-43A9-810A-DB08CEF38385</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>F65B2EB5-C854-4E89-9043-72669E83A3A5</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>905</integer>
		</dict>
		<key>FD06922B-9D89-4432-A4B9-C0370FD6F12D</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
