<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.irvel.yoink_screenshot</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1C8654C8-4C7D-463C-A4FF-AC5303F878C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA658227-7F76-4D61-AD70-6EF0227FEF95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC0D0DB0-8EA6-463F-97C7-FA8696B91C55</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA658227-7F76-4D61-AD70-6EF0227FEF95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C8654C8-4C7D-463C-A4FF-AC5303F878C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1661384-D6EB-4273-A205-0AEEA6CA7837</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAF881DF-914C-44A2-827C-B215AD3CEBBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA658227-7F76-4D61-AD70-6EF0227FEF95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88D2F3E6-34FA-4DEF-B1CD-9DEB0C11227B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CAF881DF-914C-44A2-827C-B215AD3CEBBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA658227-7F76-4D61-AD70-6EF0227FEF95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDBE2D87-7A03-4BF9-95E4-BD5660CAF4AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA658227-7F76-4D61-AD70-6EF0227FEF95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>irvel</string>
	<key>description</key>
	<string>Take a screenshot and send it directly to Yoink</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screenshot to Yoink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yoink</string>
				<key>subtext</key>
				<string>Take a selective screenshot and send it directly to Yoink</string>
				<key>text</key>
				<string>Selective Screenshot to Yoink</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yoinkfull</string>
				<key>subtext</key>
				<string>Take a full screenshot and send it directly to Yoink</string>
				<key>text</key>
				<string>Full Screenshot to Yoink</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AC0D0DB0-8EA6-463F-97C7-FA8696B91C55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>screencapture_flags</key>
					<string>-i</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C8654C8-4C7D-463C-A4FF-AC5303F878C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

if [ ! -e "${yoink_path}" ]; then 
    echo "Could't find the Yoink App installed in \"${yoink_path}\""
    exit
fi

# Get the current date time
timestamp=$(date "${date_format}")

if [[ ${screenshot_alt_dir} ]]; then
    # Expand a ~ to the actual home directory
    screenshot_dir="${screenshot_alt_dir/#\~/$HOME}"    
else
    screenshot_dir=$(defaults read com.apple.screencapture location)
    # If an alternative location for screenshots hasn't been set, default to ~/Desktop
    if [ ! -d "${screenshot_dir}" ]; then
        screenshot_dir="${HOME}/Desktop"
    fi
fi

# If the target dir doesn't exist, make it exist
if [ ! -d "${screenshot_dir}" ]; then
    mkdir "${screenshot_dir}"
    if [ ! -d "${screenshot_dir}" ]; then
        echo "Failed to create a screenshot directory in \"${screenshot_dir}\""
        exit
    fi
fi

screenshot_path="${screenshot_dir}/${base_name}${timestamp}${extension}"

# Take the actual screenshot
capture_output = $(screencapture "${screencapture_flags}" "${screenshot_path}")

# Trigger Yoink with the image that's just been captured
if [[ ${capture_output} ]]; then
    echo "Failed to capture a screenshot in \"${screenshot_path}\""
else
    open -a "${yoink_path}" "${screenshot_path}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA658227-7F76-4D61-AD70-6EF0227FEF95</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Screenshot to Yoink Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>88D2F3E6-34FA-4DEF-B1CD-9DEB0C11227B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B1661384-D6EB-4273-A205-0AEEA6CA7837</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>screencapture_flags</key>
					<string>-i</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CAF881DF-914C-44A2-827C-B215AD3CEBBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FDBE2D87-7A03-4BF9-95E4-BD5660CAF4AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This simple Workflow triggers an interactive screenshot via the native screencapture command and then sends that picture to the Yoink app. 

Yoink is a simple persistent Drag and Drop shelf utility https://eternalstorms.at/yoink/Yoink_-_Simplify_and_Improve_Drag_and_Drop_on_your_Mac_and_iPad/Yoink_-_for_Mac_and_iPad.html


The Workflow will try to use any custom screenshots location set via "defaults write com.apple.screencapture location ...", however if no location has been set, it'll default to ~/Desktop.

You can also set an alternative location to store screenshots taken with this Workflow with the variable screenshot_alt_dir.


What the Workflow Environmet Variables do:
- base_name: The base file name of the screenshot
- date_format: The format string to be passed to the bash "date" function
- extension: The file extension to be used for the screenshots
- screenshot_alt_dir: An alternative location for screenshots taken via this workflow
- yoink_path: The full path to the Yoink app</string>
	<key>uidata</key>
	<dict>
		<key>1C8654C8-4C7D-463C-A4FF-AC5303F878C6</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>88D2F3E6-34FA-4DEF-B1CD-9DEB0C11227B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Post a notification in case taking the Screenshot fails</string>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>AC0D0DB0-8EA6-463F-97C7-FA8696B91C55</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B1661384-D6EB-4273-A205-0AEEA6CA7837</key>
		<dict>
			<key>note</key>
			<string>Trigger a selective capture</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>BA658227-7F76-4D61-AD70-6EF0227FEF95</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>CAF881DF-914C-44A2-827C-B215AD3CEBBE</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>FDBE2D87-7A03-4BF9-95E4-BD5660CAF4AA</key>
		<dict>
			<key>note</key>
			<string>Trigger a full-screen capture</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>base_name</key>
		<string>Screen Shot </string>
		<key>date_format</key>
		<string>+%Y-%m-%d at %-I.%M.%S %p</string>
		<key>extension</key>
		<string>.png</string>
		<key>screenshot_alt_dir</key>
		<string></string>
		<key>yoink_path</key>
		<string>/Applications/Yoink.app</string>
	</dict>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://github.com/Irvel/screenshot-to-yoink</string>
</dict>
</plist>
