<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.mkfile</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>06161B22-0C87-45C0-BE25-58DFDA9ACCA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B02EB502-810F-4559-AC9F-60501C42B4AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07F9776C-680A-4777-8E7F-EF859A05458A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE317788-6BF4-4214-9EFC-32C533CE8495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E544C37-1044-4C70-8C46-69815C821994</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE3E6736-3844-4A2B-A102-160BCDF31E11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>200A7390-948B-4D07-9330-CAF9ED28FCBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB12D882-91C2-4E47-8217-45FCA7B8E877</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28B479EE-6112-4AF6-8994-E18982C12A8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76E2764A-6940-4A15-BC3A-37B7AE35674D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B1ADFFF-28CE-489F-8BB0-9D40FCD4349E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD1A66F8-0848-4811-8EF3-69A61D8CF8D5</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9C52831-8126-4FC4-9F8B-46DDBF3AF163</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B708F69-26AD-43FE-9EF6-B7B165038B7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07F9776C-680A-4777-8E7F-EF859A05458A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35ED86BD-480B-4BC3-A180-629EE5F115D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F516CD9E-91AE-4109-BE20-6E9F5C7A0B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>383C6C8D-7E05-416A-B9DF-D77F0BA43C45</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6272C46C-BA3B-42EA-A121-F01F617D976E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E12442B-0344-4129-ABC7-F4DCF33C56DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5503063-D45A-4D82-8435-F638CA114254</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6272C46C-BA3B-42EA-A121-F01F617D976E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200A7390-948B-4D07-9330-CAF9ED28FCBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72E90036-D22A-430E-A2C2-B9C1D6767D52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE317788-6BF4-4214-9EFC-32C533CE8495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76CCC630-CB9D-4C57-A3B6-B3A0A770E6B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95E5F284-9A6E-414A-BA36-B12BC438E16E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76E2764A-6940-4A15-BC3A-37B7AE35674D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B708F69-26AD-43FE-9EF6-B7B165038B7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6B439C04-090D-47D3-A27C-892F80FA02F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72E90036-D22A-430E-A2C2-B9C1D6767D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BBD92DE-068C-488F-B5ED-5FB1BAB5E8EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28B479EE-6112-4AF6-8994-E18982C12A8D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Select a location where the new file will be created.</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F516CD9E-91AE-4109-BE20-6E9F5C7A0B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>95E5F284-9A6E-414A-BA36-B12BC438E16E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>401A832A-C1D5-4717-BBCE-EFC809A684F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFB653EB-5B82-4EDB-83A8-F41EA0006E83</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E12442B-0344-4129-ABC7-F4DCF33C56DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B02EB502-810F-4559-AC9F-60501C42B4AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E544C37-1044-4C70-8C46-69815C821994</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB12D882-91C2-4E47-8217-45FCA7B8E877</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>347300D6-5855-4065-98CE-4C036BDB6794</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AA32CDBE-0E12-43E0-9E04-FB8B8203A2C0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>66F0569A-F054-4C78-B020-E4CADC17A7B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ED552103-2D2D-4C6B-B148-E8F9652D3931</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>367C931B-7AA5-486B-AE3F-91BFD3A77DED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F307C51E-4A7C-4870-BCF0-9111F8E30EF2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0BD7F7E6-4910-4157-8471-736E84FD27EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD33959E-DCFD-4CB9-BB81-CF25745FB3DF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B1ADFFF-28CE-489F-8BB0-9D40FCD4349E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BE317788-6BF4-4214-9EFC-32C533CE8495</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D58D1EE-FE36-43E6-B71F-5202BFE815CD</string>
				<key>disabled</key>
				<true/>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>383C6C8D-7E05-416A-B9DF-D77F0BA43C45</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9C52831-8126-4FC4-9F8B-46DDBF3AF163</key>
		<array/>
		<key>DE3E6736-3844-4A2B-A102-160BCDF31E11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE317788-6BF4-4214-9EFC-32C533CE8495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8048C24D-BE0D-4C08-9680-3495127BCC02</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFB653EB-5B82-4EDB-83A8-F41EA0006E83</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F516CD9E-91AE-4109-BE20-6E9F5C7A0B1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B02EB502-810F-4559-AC9F-60501C42B4AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5503063-D45A-4D82-8435-F638CA114254</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200A7390-948B-4D07-9330-CAF9ED28FCBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Create new files post-haste</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New File</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find your target folder</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>2B708F69-26AD-43FE-9EF6-B7B165038B7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ $cached -ne 1 ]]; then
	open -b "com.runningwithcrayons.Alfred" alfred://runtrigger/com.zeitlings.mkfile/build
	echo -n cache
else 
	echo -n "$1"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28B479EE-6112-4AF6-8994-E18982C12A8D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.apple.finder</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>06161B22-0C87-45C0-BE25-58DFDA9ACCA1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>location</key>
					<string>{query}/</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>07F9776C-680A-4777-8E7F-EF859A05458A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string>cache</string>
						<key>outputlabel</key>
						<string>proceed</string>
						<key>uid</key>
						<string>6B439C04-090D-47D3-A27C-892F80FA02F2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>build</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>76E2764A-6940-4A15-BC3A-37B7AE35674D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:file}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>347300D6-5855-4065-98CE-4C036BDB6794</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>
============== Script Filter =================

Query:
	&lt;{query}&gt;

Variables:
{variables}

==============================================</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5D58D1EE-FE36-43E6-B71F-5202BFE815CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>location</key>
					<string>{var:fallback}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>72E90036-D22A-430E-A2C2-B9C1D6767D52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/specify.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Specify</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BE317788-6BF4-4214-9EFC-32C533CE8495</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/create.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>383C6C8D-7E05-416A-B9DF-D77F0BA43C45</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>subtext</key>
				<string>↩ Proceed  ·  ⌘↩ Select Location</string>
				<key>text</key>
				<string>Create a New File</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7BBD92DE-068C-488F-B5ED-5FB1BAB5E8EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>src/location-posthaste.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B02EB502-810F-4559-AC9F-60501C42B4AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6272C46C-BA3B-42EA-A121-F01F617D976E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:file}</string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>66F0569A-F054-4C78-B020-E4CADC17A7B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:posthaste}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Create</string>
						<key>uid</key>
						<string>8048C24D-BE0D-4C08-9680-3495127BCC02</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Created</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DE3E6736-3844-4A2B-A102-160BCDF31E11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>posthaste</key>
					<string>0</string>
					<key>qry</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F516CD9E-91AE-4109-BE20-6E9F5C7A0B1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:qry}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>location</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1E544C37-1044-4C70-8C46-69815C821994</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:file_opens}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Terminal</string>
						<key>uid</key>
						<string>AA32CDBE-0E12-43E0-9E04-FB8B8203A2C0</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:file_opens}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>alfred</string>
						<key>outputlabel</key>
						<string>Alfred</string>
						<key>uid</key>
						<string>ED552103-2D2D-4C6B-B148-E8F9652D3931</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:file_opens}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>default</string>
						<key>outputlabel</key>
						<string>Open</string>
						<key>uid</key>
						<string>F307C51E-4A7C-4870-BCF0-9111F8E30EF2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Reveal</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BB12D882-91C2-4E47-8217-45FCA7B8E877</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>file</key>
					<string>{var:split2}</string>
					<key>location</key>
					<string>{var:split1}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F5503063-D45A-4D82-8435-F638CA114254</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>5E12442B-0344-4129-ABC7-F4DCF33C56DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:location}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AFB653EB-5B82-4EDB-83A8-F41EA0006E83</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>200A7390-948B-4D07-9330-CAF9ED28FCBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:file}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>367C931B-7AA5-486B-AE3F-91BFD3A77DED</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>post</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>35ED86BD-480B-4BC3-A180-629EE5F115D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>
=================== Cache ====================

Location:
	'{const:alfred_workflow_data}'
Query:
	'{query}'

Variables:
{variables}

==============================================</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>FD1A66F8-0848-4811-8EF3-69A61D8CF8D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:file}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>0BD7F7E6-4910-4157-8471-736E84FD27EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly ext_f="${alfred_preferences}/workflows/${alfred_workflow_uid}/src/ext.txt"
readonly data="${alfred_workflow_data}"
readonly extensions=("${(f)$(cat $ext_f)}")

[[ -d $data ]] || mkdir -p $data

for e in "$extensions[@]"; do
	touch "$data/proto.$e"
done

cat &lt;&lt;EOF | osascript
	tell application id "com.runningwithcrayons.Alfred"
	 	set theWorkflow to "${alfred_workflow_bundleid}"
	 	set envvarCached to "cached"
 		set theValue to "1"
	 	set configuration envvarCached to value theValue in workflow theWorkflow
	 	reload workflow theWorkflow
	 end tell
EOF</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9C52831-8126-4FC4-9F8B-46DDBF3AF163</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>build</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>BD33959E-DCFD-4CB9-BB81-CF25745FB3DF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2B1ADFFF-28CE-489F-8BB0-9D40FCD4349E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Precondition</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>401A832A-C1D5-4717-BBCE-EFC809A684F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>typeset -F version="$alfred_version"
if [[ $version -ge 5.1 ]]; then 
	open "alfredpreferences://navigateto/workflows&gt;workflow&gt;$alfred_workflow_uid&gt;userconfig&gt;key"
else
	echo -n "This feature requires Alfred v5.1 or greater to be installed"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>95E5F284-9A6E-414A-BA36-B12BC438E16E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:{var:key}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open the New File Workflow Configuration</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76CCC630-CB9D-4C57-A3B6-B3A0A770E6B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](icon.png)

# New File

The workflow allows you to quickly create new files in the Finder.

---

Created by [Patrick Sy](https://github.com/zeitlings/) | [Visit on Github](https://github.com/zeitlings/alfred-workflows) | [Visit on Alfred Forum](https://www.alfredforum.com/topic/20228-new-file/)

---

## Usage

1. Create a new file in your most recent Finder location via the `new` keyword. 
2. Alternatively, configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) to initiate creating a new file or to create it immediately if the *post-haste* behaviour is enabled.
* Recommeded Hotkey: &lt;kbd&gt;⌥⇧N&lt;/kbd&gt;

![New File keyword preview](images/preview_nf1.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; Begin creating a new file.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Search and select the location of the new file.

The workflow will pick up on your location in the Finder and create the new file there. If no Finder window is currently open, the file will be created in the configurable fallback location.

### Creating a New File

![New File creation preview](images/preview_nf2.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; Create the file with the given parameters.
- &lt;kbd&gt;⌘&lt;/kbd&gt; Hold to view the full path of the target folder.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Create the file **with clipboard** contents.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Create the file **without clipboard** contents.
- &lt;kbd&gt;⇥&lt;/kbd&gt; Accept and expand the auto-suggested file extension.


**Bonus:** In addition to all plain-text type files, the workflow can also quickly create `docx`, `doc`, `odt`, `rtf`, `rtfd` files and Xcode `playground`s.

---

## Configuration

- The __fallback location__ is used if the workflow is activated via the keyword, but no Finder window is currently open.
- If the *post-haste* __behavior__ is disabled, using the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) will also prompt you with the input mask.
- If the option to create new files with the contents of the clipboard is disabled by default, you can still choose to create new files with the __clipboard contents__ by using the input mask and enabling the correlating modifier (&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;). Similarly, you can disable it on a per-file basis (&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;).</string>
	<key>uidata</key>
	<dict>
		<key>06161B22-0C87-45C0-BE25-58DFDA9ACCA1</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>07F9776C-680A-4777-8E7F-EF859A05458A</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>0BD7F7E6-4910-4157-8471-736E84FD27EC</key>
		<dict>
			<key>xpos</key>
			<real>1490</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>1E544C37-1044-4C70-8C46-69815C821994</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>200A7390-948B-4D07-9330-CAF9ED28FCBE</key>
		<dict>
			<key>xpos</key>
			<real>1315</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>28B479EE-6112-4AF6-8994-E18982C12A8D</key>
		<dict>
			<key>note</key>
			<string>Cache check</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>2B1ADFFF-28CE-489F-8BB0-9D40FCD4349E</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>2B708F69-26AD-43FE-9EF6-B7B165038B7A</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>347300D6-5855-4065-98CE-4C036BDB6794</key>
		<dict>
			<key>xpos</key>
			<real>1490</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>35ED86BD-480B-4BC3-A180-629EE5F115D1</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>367C931B-7AA5-486B-AE3F-91BFD3A77DED</key>
		<dict>
			<key>xpos</key>
			<real>1490</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>383C6C8D-7E05-416A-B9DF-D77F0BA43C45</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>1105</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>401A832A-C1D5-4717-BBCE-EFC809A684F6</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>5D58D1EE-FE36-43E6-B71F-5202BFE815CD</key>
		<dict>
			<key>xpos</key>
			<real>1105</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5E12442B-0344-4129-ABC7-F4DCF33C56DF</key>
		<dict>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>6272C46C-BA3B-42EA-A121-F01F617D976E</key>
		<dict>
			<key>xpos</key>
			<real>1235</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>66F0569A-F054-4C78-B020-E4CADC17A7B7</key>
		<dict>
			<key>xpos</key>
			<real>1490</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>72E90036-D22A-430E-A2C2-B9C1D6767D52</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>76CCC630-CB9D-4C57-A3B6-B3A0A770E6B6</key>
		<dict>
			<key>note</key>
			<string>Open Configuration</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>76E2764A-6940-4A15-BC3A-37B7AE35674D</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>7BBD92DE-068C-488F-B5ED-5FB1BAB5E8EB</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>95E5F284-9A6E-414A-BA36-B12BC438E16E</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>AFB653EB-5B82-4EDB-83A8-F41EA0006E83</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B02EB502-810F-4559-AC9F-60501C42B4AE</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>get finder location
and act on post-haste if applicable</string>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BB12D882-91C2-4E47-8217-45FCA7B8E877</key>
		<dict>
			<key>xpos</key>
			<real>1370</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>BD33959E-DCFD-4CB9-BB81-CF25745FB3DF</key>
		<dict>
			<key>note</key>
			<string>UTType Lookup Cache</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>BE317788-6BF4-4214-9EFC-32C533CE8495</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>D9C52831-8126-4FC4-9F8B-46DDBF3AF163</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>DE3E6736-3844-4A2B-A102-160BCDF31E11</key>
		<dict>
			<key>xpos</key>
			<real>815</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>F516CD9E-91AE-4109-BE20-6E9F5C7A0B1C</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>F5503063-D45A-4D82-8435-F638CA114254</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>FD1A66F8-0848-4811-8EF3-69A61D8CF8D5</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>new</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop</string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string>~/Desktop</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Used when no Finder window is currently open</string>
			<key>label</key>
			<string>Fallback Location</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>fallback</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Posthaste | Create file without delay adding extension:</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Behavior</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>posthaste</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>txt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>If this behavior is enabled, new files are created the same way as folders when you use the shortcut (default: ⌥+⇧+N)</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>d_ext</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Paste clipboard contents to the new file</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>insert_pb</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Autosuggest file extensions</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>autosuggest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>never</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Never</string>
						<string>never</string>
					</array>
					<array>
						<string>In Alfred</string>
						<string>alfred</string>
					</array>
					<array>
						<string>In Default Application</string>
						<string>default</string>
					</array>
					<array>
						<string>Location in Terminal</string>
						<string>terminal</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Open File</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>file_opens</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>cached</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>cached</string>
	</array>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
