<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEEPL_API_KEY</key>
	<string>7816751a-a2f6-19b7-bc30-218d6dc7d61b:fx</string>
	<key>deepl_check</key>
	<true/>
	<key>deepl_target_language</key>
	<string>EN-US</string>
</dict>
</plist>
