<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.damir.dropover-mac.alfred-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>6EC50349-886E-4E39-8E15-7ABE7650E033</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C46F465D-7F12-4F45-A592-BFAA8A28338E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C46F465D-7F12-4F45-A592-BFAA8A28338E</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Damir Tursunović</string>
	<key>description</key>
	<string>Adds the selected files to a new Dropover shelf</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add to Dropover</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Dropover</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>6EC50349-886E-4E39-8E15-7ABE7650E033</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>files = ARGV.map { |i| "'#{i}'" }.join(" ")
system "open -b me.damir.dropover-mac #{files}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C46F465D-7F12-4F45-A592-BFAA8A28338E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Shows the selected files in a new Dropover shelf</string>
	<key>uidata</key>
	<dict>
		<key>6EC50349-886E-4E39-8E15-7ABE7650E033</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C46F465D-7F12-4F45-A592-BFAA8A28338E</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://dropoverapp.com</string>
</dict>
</plist>
