<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.fuzzysearch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>02DCADBD-17F5-413B-92E9-2F074639E18F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>968602E5-FCAB-443B-9C90-5D0B3FCDDA24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>29008B68-AEFF-4F7A-95EE-554A87B484F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5984558-B5F4-4956-AEBE-BF592C020160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2ECCC43D-4A77-4834-AB24-D1035A5B4582</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A4DF710-836B-4F57-AD82-A3D7931AC95F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>47826379-1407-4731-AF25-50967D255389</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBBEA105-5A46-49AA-AD21-3E76C6F85CBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ACC9A44-EFB6-4040-8F74-072FFB804DA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>000C8F52-3194-4DBA-8656-C4E9F05E4C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DECFFE3-18F6-482A-9356-ACE296F1D294</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3875F8BD-B0F0-417F-8CDE-8FE59663F6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4CF829DE-103C-4CEA-8D48-F164A1D248D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47826379-1407-4731-AF25-50967D255389</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D02DEEF5-DEFA-49C3-9CB5-6FCC0DB21EF1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>968602E5-FCAB-443B-9C90-5D0B3FCDDA24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29008B68-AEFF-4F7A-95EE-554A87B484F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AD8A044C-FF2E-41C9-8F74-19A988852B8E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6DECFFE3-18F6-482A-9356-ACE296F1D294</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9F09E560-1FDE-44A0-B7AB-9E3B0B0DF37E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4ACC9A44-EFB6-4040-8F74-072FFB804DA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Limited scope fuzzy search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fuzzy Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Fuzzy Search '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>2ECCC43D-4A77-4834-AB24-D1035A5B4582</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search.scope</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D5984558-B5F4-4956-AEBE-BF592C020160</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>depth</key>
					<string>7</string>
					<key>enable_folder_search</key>
					<string>0</string>
					<key>search_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>29008B68-AEFF-4F7A-95EE-554A87B484F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>3875F8BD-B0F0-417F-8CDE-8FE59663F6F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3A4DF710-836B-4F57-AD82-A3D7931AC95F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fuzzy.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{var:scope}</string>
				<key>title</key>
				<string>Fuzzy Search</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>search.scope</string>
						<key>outputlabel</key>
						<string>Scoped Search</string>
						<key>uid</key>
						<string>AD8A044C-FF2E-41C9-8F74-19A988852B8E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>Browse in Alfred</string>
						<key>uid</key>
						<string>9F09E560-1FDE-44A0-B7AB-9E3B0B0DF37E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open File</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>968602E5-FCAB-443B-9C90-5D0B3FCDDA24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:browse_strat}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>classic</string>
						<key>outputlabel</key>
						<string>Classic</string>
						<key>uid</key>
						<string>4CF829DE-103C-4CEA-8D48-F164A1D248D3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browse_strat}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>grid</string>
						<key>outputlabel</key>
						<string>Grid View</string>
						<key>uid</key>
						<string>D02DEEF5-DEFA-49C3-9CB5-6FCC0DB21EF1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6DECFFE3-18F6-482A-9356-ACE296F1D294</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>3</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>1</integer>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<true/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>EBBEA105-5A46-49AA-AD21-3E76C6F85CBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>47826379-1407-4731-AF25-50967D255389</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>000C8F52-3194-4DBA-8656-C4E9F05E4C37</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>search.scope</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>02DCADBD-17F5-413B-92E9-2F074639E18F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4ACC9A44-EFB6-4040-8F74-072FFB804DA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![fuzzy search icon](icon.png)

# Fuzzy Search

Limited scope fuzzy matching.

## Setup

- Explicitly define the scope to consider by adding folder paths to the configuration
- Install [fzf-abbrev](https://github.com/sergei-dyshel/fzf-abbrev) for initial character matching¹ 
- Install [fzf](https://github.com/junegunn/fzf) for classic fuzzy matching²

## How to Use

Activate the workflow with the keyword, by setting a [hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) or the [custom fallback search](https://www.alfredapp.com/help/features/default-results/fallback-searches/).

- Type to search
- __On folders__
	- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to set as search scope
	- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to browse the folder in Alfred


## Footnotes

¹ `go install github.com/sergei-dyshel/fzf-abbrev@latest`  
² `brew install fzf`


---
Created by [Patrick Sy](https://github.com/zeitlings) | [Visit on Github](https://github.com/zeitlings/alfred-workflows)
---</string>
	<key>uidata</key>
	<dict>
		<key>000C8F52-3194-4DBA-8656-C4E9F05E4C37</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>02DCADBD-17F5-413B-92E9-2F074639E18F</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>1DBF6FD2-61FD-4EE4-A8B0-BD5A284689C6</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>29008B68-AEFF-4F7A-95EE-554A87B484F9</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>2ECCC43D-4A77-4834-AB24-D1035A5B4582</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>3875F8BD-B0F0-417F-8CDE-8FE59663F6F8</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>3A4DF710-836B-4F57-AD82-A3D7931AC95F</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>47826379-1407-4731-AF25-50967D255389</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>4ACC9A44-EFB6-4040-8F74-072FFB804DA2</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>6DECFFE3-18F6-482A-9356-ACE296F1D294</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>968602E5-FCAB-443B-9C90-5D0B3FCDDA24</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>D5984558-B5F4-4956-AEBE-BF592C020160</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>EBBEA105-5A46-49AA-AD21-3E76C6F85CBE</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>s</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>/Applications
~/Desktop
~/Documents
~/Downloads</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>9</integer>
			</dict>
			<key>description</key>
			<string>The more you add, the slower the search will be.</string>
			<key>label</key>
			<string>Search Paths</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>search_paths</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>2</integer>
				<key>markercount</key>
				<integer>5</integer>
				<key>maxvalue</key>
				<integer>10</integer>
				<key>minvalue</key>
				<integer>1</integer>
				<key>onlystoponmarkers</key>
				<false/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The deeper you go, the slower the search will be.</string>
			<key>label</key>
			<string>Depth</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>depth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/go/bin/fzf-abbrev</string>
				<key>pairs</key>
				<array>
					<array>
						<string>fzf</string>
						<string>fzf</string>
					</array>
					<array>
						<string>fzf-abbrev</string>
						<string>~/go/bin/fzf-abbrev</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Method</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>method</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Only search directories</string>
			</dict>
			<key>description</key>
			<string>Find folders first and set as search scope with ⌥↩</string>
			<key>label</key>
			<string>Options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>enable_folder_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>grid</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Browse folders in Alfred</string>
						<string>classic</string>
					</array>
					<array>
						<string>Browse folders in Grid View</string>
						<string>grid</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browse_strat</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
