<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fallbacks</key>
	<array>
		<string>features.websearch.custom.35782BF5-35BD-4405-9A70-EA9C4A95E71D.fallback</string>
		<string>features.websearch.custom.5A398973-1040-4A70-9542-B32DEA53C6BE.fallback</string>
		<string>features.websearch.custom.05523FCF-7FA2-4FEE-BAA3-5DB7A861EEEE.fallback</string>
		<string>user.workflow.A917CF10-C688-4B47-8CE2-BE7AFCFAD503.67C9BA1C-5C33-4A61-9159-CC87F8D39013</string>
		<string>features.websearch.custom.6A506EC0-9C3E-4BEC-A318-55BB8A7AD50E.fallback</string>
		<string>user.workflow.7C90D8F7-DB1E-4087-9EB7-D706E81FBFA9.67C9BA1C-5C33-4A61-9159-CC87F8D39013</string>
		<string>features.websearch.custom.9DFCA5E1-A4DC-4C0E-ADE5-9448CD0A736D.fallback</string>
		<string>features.websearch.wiki.fallback</string>
	</array>
	<key>fallbacksMode</key>
	<integer>1</integer>
	<key>showAppleScripts</key>
	<true/>
	<key>showContacts</key>
	<false/>
	<key>showDocuments</key>
	<true/>
	<key>showFolders</key>
	<true/>
	<key>showImages</key>
	<true/>
	<key>showPreferences</key>
	<false/>
	<key>showTextFiles</key>
	<true/>
</dict>
</plist>
