<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.windownavigator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0D52831D-BA1B-47E8-B8EF-79E299B70B85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BBF91E8-1799-4C35-A197-949E83C68A1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A53810F1-C1E9-459E-A2D6-3FD456A6C996</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28603C29-B058-4F8E-89E5-11426E7E600D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B43F255-497B-401B-B504-3D58FA31F2FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4324CC66-57F4-4183-9061-3D94423292FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ADF26CF-C74E-42F5-9267-FBAF87960576</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4324CC66-57F4-4183-9061-3D94423292FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B43F255-497B-401B-B504-3D58FA31F2FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Quit Application  🔴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A53810F1-C1E9-459E-A2D6-3FD456A6C996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1493FC39-DC5F-4025-A704-2973E3568CA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D52831D-BA1B-47E8-B8EF-79E299B70B85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4F373B5-FF13-496B-9D7B-4273E18BF09E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2145FCD-85DC-4407-BA95-F2C39303B1D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>506FAC1F-00C8-4A84-8A89-D0B8968B0230</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Navigate to any window of the currently focused app or any app across all desktops, or switch windows within the current desktop space.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Window Navigator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>50</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>`</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>28603C29-B058-4F8E-89E5-11426E7E600D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key3}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh 'global'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Navigate to any window of any app over all desktop spaces</string>
				<key>title</key>
				<string>Window Global Navigator</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6B43F255-497B-401B-B504-3D58FA31F2FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/launch.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>trigger</key>
					<string>close_window</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D52831D-BA1B-47E8-B8EF-79E299B70B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key1}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh 'navigator'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Navigate to any window of the active app over all desktop spaces</string>
				<key>title</key>
				<string>Window Navigator</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4324CC66-57F4-4183-9061-3D94423292FA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6ADF26CF-C74E-42F5-9267-FBAF87960576</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>app_list</key>
					<string>{var:app_name}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/macOS/app.quit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>506FAC1F-00C8-4A84-8A89-D0B8968B0230</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C2145FCD-85DC-4407-BA95-F2C39303B1D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./src/launch.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1493FC39-DC5F-4025-A704-2973E3568CA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:key2}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering windows…</string>
				<key>script</key>
				<string>./src/launch.sh 'switcher'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Switch to a window open in your current desktop space</string>
				<key>title</key>
				<string>Window Switcher</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B4F373B5-FF13-496B-9D7B-4273E18BF09E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1BBF91E8-1799-4C35-A197-949E83C68A1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>A53810F1-C1E9-459E-A2D6-3FD456A6C996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![Window Navigator Icon](icon.png)

# Window Navigator

Navigate to any window of the currently focused application or any application across all desktops, or switch windows within the current desktop space.

## Usage

1. Search the windows of the active app globally using the __Navigator__ keyword. 
2. Search app windows in the current desktop space using the __Switcher__ keyword. 
3. Search all visible windows of all apps globally using the __Global__ keyword.
* __Optionally, configure [hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) for quick access.__


### 1. Navigator

![Keyword for navigator](images/navigator.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to navigate to the selected window.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.

### 2. Switcher

![Keyword for switcher](images/switcher.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to raise the selected window to the foreground.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.

### 3. Global

![Keyword for global](images/global.png)
* &lt;kbd&gt;↩&lt;/kbd&gt; to navigate to the selected window.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to close the selected window.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to quit the owning application.

---

Created by [Patrick Sy](https://github.com/zeitlings) | [Visit on Github](https://github.com/zeitlings/alfred-workflows)</string>
	<key>uidata</key>
	<dict>
		<key>0D52831D-BA1B-47E8-B8EF-79E299B70B85</key>
		<dict>
			<key>note</key>
			<string>Close Window</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>1493FC39-DC5F-4025-A704-2973E3568CA3</key>
		<dict>
			<key>note</key>
			<string>AX Raise</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>1BBF91E8-1799-4C35-A197-949E83C68A1A</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>28603C29-B058-4F8E-89E5-11426E7E600D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Window Navigator
Global</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>4324CC66-57F4-4183-9061-3D94423292FA</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Show all windows of the focused application</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>506FAC1F-00C8-4A84-8A89-D0B8968B0230</key>
		<dict>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>53B6F97E-3518-4ADE-A4C2-0983CA3008B4</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Show windows open in current desktop space</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>639E7A9D-F885-42EB-A2A4-32BCDF0CBD04</key>
		<dict>
			<key>note</key>
			<string>AX Close</string>
			<key>xpos</key>
			<real>970</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>6ADF26CF-C74E-42F5-9267-FBAF87960576</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Window Navigator
Local</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>6B43F255-497B-401B-B504-3D58FA31F2FF</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Show open windows system wide</string>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>A53810F1-C1E9-459E-A2D6-3FD456A6C996</key>
		<dict>
			<key>note</key>
			<string>Raise Window</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>A71FAEA0-1225-42C8-8265-5B562D7F4FC5</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>B4F373B5-FF13-496B-9D7B-4273E18BF09E</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Window Switcher</string>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>C2145FCD-85DC-4407-BA95-F2C39303B1D4</key>
		<dict>
			<key>note</key>
			<string>Quit Application</string>
			<key>xpos</key>
			<real>845</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Navigator Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ws</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Switcher Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Global Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include the focused window</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>include_top_win</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Preserve unnamed windows</string>
			</dict>
			<key>description</key>
			<string>Some applications may have valid windows without a name. Check this box if you think a window is missing and the workflow will try to include it.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>preserve_unnamed_windows</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
		<key>ignored_window_names</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
