<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>github_api_token</key>
	<string>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</string>
	<key>max_pages</key>
	<string>10</string>
	<key>search_repo_description</key>
	<true/>
	<key>username</key>
	<string>PaRr0tBoY</string>
</dict>
</plist>
