<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>branch_on_clone</key>
	<string>main</string>
	<key>github_token_from_alfred_prefs</key>
	<string>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</string>
	<key>github_username</key>
	<string>PaRr0tBoY</string>
	<key>local_repo_folder</key>
	<string>~/Documents/repo</string>
</dict>
</plist>
