<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>20240929</string>
	<key>connections</key>
	<dict>
		<key>87947C11-3A06-4E8E-BCE5-5E04A6DA9AF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07A451AF-E23A-404A-9DED-D004F9649E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>acid</string>
	<key>description</key>
	<string>test</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>test</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>test</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>test</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87947C11-3A06-4E8E-BCE5-5E04A6DA9AF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>$(date +%Y-%m-%d)</string>
				<key>title</key>
				<string>nothing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>07A451AF-E23A-404A-9DED-D004F9649E7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>split screen and search via multiple website</string>
	<key>uidata</key>
	<dict>
		<key>07A451AF-E23A-404A-9DED-D004F9649E7A</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>87947C11-3A06-4E8E-BCE5-5E04A6DA9AF7</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
