<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>09B53D92-25F8-44E3-B675-52B9D9350F4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14A506BE-22C6-45BB-9C5F-44D40A88FC02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14A506BE-22C6-45BB-9C5F-44D40A88FC02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB0C3D60-CF82-4A8F-BD21-65893AC9290E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B468B99-203E-4761-A1EC-30F90C4689C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE50EAC1-B878-4FD8-8857-2811B3B65989</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DD683F2-4F90-484D-B60E-45F3BF3AC979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B468B99-203E-4761-A1EC-30F90C4689C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5572E2CA-CBF0-4532-8D64-6637D16F264D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84586F19-EF8F-4156-B73D-67AC4FF1A98A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84586F19-EF8F-4156-B73D-67AC4FF1A98A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D55A936-EEB5-435A-AE39-0ECBD2D81F92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>727FDD3F-9C7C-4BBF-AF00-E02E8DCBF83C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C35490F1-C8FD-4E26-AED7-0E55FAD04757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>893F85A3-9415-4B47-8A10-25BE41D41580</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5572E2CA-CBF0-4532-8D64-6637D16F264D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D55A936-EEB5-435A-AE39-0ECBD2D81F92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C35490F1-C8FD-4E26-AED7-0E55FAD04757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A83D37D6-EEE5-48C0-89F8-10128D9B4E18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E148C809-1280-4AC4-9121-C66A5F081CFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE50EAC1-B878-4FD8-8857-2811B3B65989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A83D37D6-EEE5-48C0-89F8-10128D9B4E18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>727FDD3F-9C7C-4BBF-AF00-E02E8DCBF83C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E148C809-1280-4AC4-9121-C66A5F081CFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>vanclimber</string>
	<key>description</key>
	<string>快速设置ClashX开启或关闭代理</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClashX</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已设置完成</string>
				<key>title</key>
				<string>ClashX出站模式</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FB0C3D60-CF82-4A8F-BD21-65893AC9290E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
  set input to item 1 of argv
  tell application "ClashX" to proxyMode input
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14A506BE-22C6-45BB-9C5F-44D40A88FC02</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"4bde4bbcf7c455669f5358a7928d521ffad6ac9c.png","title":"出站模式（全局连接）","arg":"global","subtitle":""},{"imagefile":"4bde4bbcf7c455669f5358a7928d521ffad6ac9c.png","title":"出站模式（直接连接）","arg":"direct","subtitle":""},{"imagefile":"4bde4bbcf7c455669f5358a7928d521ffad6ac9c.png","title":"出站模式（规则判断）","arg":"rule","subtitle":""}]</string>
				<key>keyword</key>
				<string>{var:set_proxy_mode_keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>设置出站模式</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>09B53D92-25F8-44E3-B675-52B9D9350F4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "ClashX" to toggleProxy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9D55A936-EEB5-435A-AE39-0ECBD2D81F92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:proxy_on_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>ClashX开启系统代理</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>893F85A3-9415-4B47-8A10-25BE41D41580</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>networksetup -getwebproxy Wi-Fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5572E2CA-CBF0-4532-8D64-6637D16F264D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已开启系统代理</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C35490F1-C8FD-4E26-AED7-0E55FAD04757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Enabled: No</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>727FDD3F-9C7C-4BBF-AF00-E02E8DCBF83C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>84586F19-EF8F-4156-B73D-67AC4FF1A98A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "ClashX" to toggleProxy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A83D37D6-EEE5-48C0-89F8-10128D9B4E18</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>networksetup -getwebproxy Wi-Fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4B468B99-203E-4761-A1EC-30F90C4689C8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:proxy_off_keyword}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>ClashX 关闭系统代理</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DD683F2-4F90-484D-B60E-45F3BF3AC979</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>已关闭系统代理</string>
				<key>title</key>
				<string>ClashX</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E148C809-1280-4AC4-9121-C66A5F081CFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Enabled: Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>727FDD3F-9C7C-4BBF-AF00-E02E8DCBF83C</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FE50EAC1-B878-4FD8-8857-2811B3B65989</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>09B53D92-25F8-44E3-B675-52B9D9350F4A</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>14A506BE-22C6-45BB-9C5F-44D40A88FC02</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>4B468B99-203E-4761-A1EC-30F90C4689C8</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>4DD683F2-4F90-484D-B60E-45F3BF3AC979</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>5572E2CA-CBF0-4532-8D64-6637D16F264D</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>84586F19-EF8F-4156-B73D-67AC4FF1A98A</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>893F85A3-9415-4B47-8A10-25BE41D41580</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>9D55A936-EEB5-435A-AE39-0ECBD2D81F92</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A83D37D6-EEE5-48C0-89F8-10128D9B4E18</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C35490F1-C8FD-4E26-AED7-0E55FAD04757</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>E148C809-1280-4AC4-9121-C66A5F081CFF</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>FB0C3D60-CF82-4A8F-BD21-65893AC9290E</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>FE50EAC1-B878-4FD8-8857-2811B3B65989</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ClashXMode</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>切换出站模式</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>set_proxy_mode_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ClashXON</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>开启系统代理</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>proxy_on_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ClashXOFF</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>关闭系统代理</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>proxy_off_keyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/vanclimber/AlfredWorkflow-ClashX</string>
</dict>
</plist>
