<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchantastic.openwithvscode</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21750E1C-77A3-4F52-81DD-1052976D1742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB080C5E-956D-46AE-B833-3660D68FA9AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB080C5E-956D-46AE-B833-3660D68FA9AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21750E1C-77A3-4F52-81DD-1052976D1742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string>Open files or folders in Visual Studio Code.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Visual Studio Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Visual Studio Code.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open with Visual Studio Code</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>codef</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find files and folders and open in Visual Studio Code</string>
				<key>title</key>
				<string>Find and open with Visual Studio Code</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>23DEA358-A623-4725-95B2-79C207AF4556</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CB080C5E-956D-46AE-B833-3660D68FA9AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>code</string>
				<key>subtext</key>
				<string>Open Finder folder or selection in Visual Studio Code or optionally enter a path to open</string>
				<key>text</key>
				<string>Open with Visual Studio Code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC170ECD-6B82-4A05-8681-8185ACE453FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Selection</string>
						<key>uid</key>
						<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Selection</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21750E1C-77A3-4F52-81DD-1052976D1742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Path</string>
						<key>uid</key>
						<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Path</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred 5 workflow for opening files or folders with Visual Studio Code.</string>
	<key>uidata</key>
	<dict>
		<key>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</key>
		<dict>
			<key>xpos</key>
			<real>1110</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>21750E1C-77A3-4F52-81DD-1052976D1742</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>CB080C5E-956D-46AE-B833-3660D68FA9AD</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/alexchantastic/alfred-open-with-vscode-workflow</string>
</dict>
</plist>
