<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>at.EternalStorms.YoinkAlfredFileAction</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4D849787-EE89-4427-A454-941182D77049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72918059-EC5F-48EC-9E23-2A247E544450</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matthias Gansrigler</string>
	<key>description</key>
	<string>Adds the selected file(s) to Yoink</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send to Yoink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Add to Yoink</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>4D849787-EE89-4427-A454-941182D77049</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv
	set pathArray to {}
	repeat with theString in argv
		set theFile to POSIX file theString as alias
		set end of pathArray to theFile
	end repeat
	tell application "Yoink" to open pathArray
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72918059-EC5F-48EC-9E23-2A247E544450</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is a very simple file action that takes the files you have specified in Alfred and sends them to Yoink, where you can then drag and drop them anywhere you like.</string>
	<key>uidata</key>
	<dict>
		<key>4D849787-EE89-4427-A454-941182D77049</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>72918059-EC5F-48EC-9E23-2A247E544450</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>3.5.3</string>
	<key>webaddress</key>
	<string>http://eternalstorms.at/yoink</string>
</dict>
</plist>
