<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zfanswer.hexo</string>
	<key>connections</key>
	<dict>
		<key>1B816989-75D0-4B30-8E89-BB032E5BC690</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4988ACE1-06D3-421E-84A5-F90AB2D1497F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B816989-75D0-4B30-8E89-BB032E5BC690</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96CFF4B7-3A81-4D72-8660-9649A84331F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E73A521-F217-4333-8624-425DB884B44D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7BECE32-8B94-4078-96FA-343ADB09A181</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>233DF449-D55E-4506-B982-B4CE9FE55203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DD90C079-03BA-4EEF-A64E-D9882107EA6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5E73A521-F217-4333-8624-425DB884B44D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB90D422-9D61-4026-AC68-E79C3BAB8F40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96CFF4B7-3A81-4D72-8660-9649A84331F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFE5E386-EC1F-40F1-B41F-1806314F6382</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7BECE32-8B94-4078-96FA-343ADB09A181</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>小米飯</string>
	<key>description</key>
	<string>New a hexo post and open it with Macdown editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hexo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>hexi</string>
				<key>subtext</key>
				<string>创建一个新 post</string>
				<key>text</key>
				<string>新建文章</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4988ACE1-06D3-421E-84A5-F90AB2D1497F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(/Users/acid/Documents/repo/parr0tboy.github.io 副本)

cd "$hexodir"
hexo new post "{query}"
open ./source/_posts/$(date +%Y-%m-%d)-{query}.md</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B816989-75D0-4B30-8E89-BB032E5BC690</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo New</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hexp</string>
				<key>subtext</key>
				<string>重建 public 页面，并在本地 server 测试</string>
				<key>text</key>
				<string>重建页面</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DFE5E386-EC1F-40F1-B41F-1806314F6382</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo Generate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>233DF449-D55E-4506-B982-B4CE9FE55203</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(/Users/acid/Documents/repo/parr0tboy.github.io 副本) # Edit this to point to your hexo folder

cd "$hexodir"
hexo cl
hexo g</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7BECE32-8B94-4078-96FA-343ADB09A181</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hexo</string>
				<key>subtext</key>
				<string>发布到 github pages 和又拍云</string>
				<key>text</key>
				<string>发布文章</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB90D422-9D61-4026-AC68-E79C3BAB8F40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>hexodir=(/Users/acid/Documents/repo/parr0tboy.github.io 副本)

cd "$hexodir"
hexo d
upx sync public /</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96CFF4B7-3A81-4D72-8660-9649A84331F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Hexo New</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string></string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>DD90C079-03BA-4EEF-A64E-D9882107EA6F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string></string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5E73A521-F217-4333-8624-425DB884B44D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Before using this workflow, you have to do something.

1. Change every “Run Script” language to what you’re using, e.g. I’m using /bin/zsh.
2. Change the first line code of every “Run Script” script, set it pointing to your hexo folder.
3. For the command “hero deploy”, you can’t enter username/passwd for it. e.g. if you’re using Git, make sure you’re using SSH Key, it will let you skip entering username/passwd.

Please enjoy it.</string>
	<key>uidata</key>
	<dict>
		<key>1B816989-75D0-4B30-8E89-BB032E5BC690</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>233DF449-D55E-4506-B982-B4CE9FE55203</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>4988ACE1-06D3-421E-84A5-F90AB2D1497F</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5E73A521-F217-4333-8624-425DB884B44D</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>96CFF4B7-3A81-4D72-8660-9649A84331F5</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>A7BECE32-8B94-4078-96FA-343ADB09A181</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A9F8557C-E8F7-4DE7-8D40-E38E9BAB04A6</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DB90D422-9D61-4026-AC68-E79C3BAB8F40</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>DD90C079-03BA-4EEF-A64E-D9882107EA6F</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>DDC21A9A-0DB9-43F4-A90C-08EADF2F35BD</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DFE5E386-EC1F-40F1-B41F-1806314F6382</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>http://zfan.me</string>
</dict>
</plist>
