<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.logseq</string>
	<key>connections</key>
	<dict>
		<key>080314F0-C84B-420B-AB8F-A7C600D57DB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>951C9273-FC24-4588-8747-E9CF95891FDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4F9EA13F-3466-427B-BD52-5DF1E2173886</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72529ABA-6759-4747-8420-90C34837FDC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BF4AFC8-374D-4ACA-9184-02116F439E1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9B287D9-F771-47FF-AEFD-3219AD4BB9B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52FA3B1F-48AC-47D2-B5D2-0E3C501A3FD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F9EA13F-3466-427B-BD52-5DF1E2173886</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59E6D93F-75A7-4EDB-BCB9-4107C9FB700F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>080314F0-C84B-420B-AB8F-A7C600D57DB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72529ABA-6759-4747-8420-90C34837FDC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B767BE17-E3F0-4ADA-9274-406868D9AB93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>078FD78B-9C53-413C-A36E-33D2BF488DD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7872AFE3-6D4C-487E-9F1E-6CFE72F0224F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8392128-6542-400B-AB47-842ADA836B03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EC9D7AF-4DAA-4AE4-A242-FF923F18F20C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7872AFE3-6D4C-487E-9F1E-6CFE72F0224F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>951C9273-FC24-4588-8747-E9CF95891FDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58962B06-D37E-47DF-A431-A91BB9D2D14E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1B1E8124-77D8-4482-9CE4-404B12F5514D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E3C80211-AE06-49DA-A9EC-D9F848C59603</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7DBB5E5-6ACC-431D-B043-D4EC39EA0EC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>080314F0-C84B-420B-AB8F-A7C600D57DB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A96EA3CA-B0AD-4C85-81C0-72401F3FBDD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82BDAEE8-5F75-4BAF-9731-AA80FA4E9585</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B767BE17-E3F0-4ADA-9274-406868D9AB93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A96EA3CA-B0AD-4C85-81C0-72401F3FBDD1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Interact with your Logseq graph</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Logseq</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>58962B06-D37E-47DF-A431-A91BB9D2D14E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>init</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A7DBB5E5-6ACC-431D-B043-D4EC39EA0EC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>if [[ $allowed -eq 1 ]]; then
	./logseq "$1"
else 
	open -b "com.runningwithcrayons.Alfred" alfred://runtrigger/$alfred_workflow_bundleid/polite
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search your Logseq Graph</string>
				<key>title</key>
				<string>Logseq</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>080314F0-C84B-420B-AB8F-A7C600D57DB9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>loop</string>
						<key>outputlabel</key>
						<string>Loop</string>
						<key>uid</key>
						<string>1B1E8124-77D8-4482-9CE4-404B12F5514D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>951C9273-FC24-4588-8747-E9CF95891FDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3C80211-AE06-49DA-A9EC-D9F848C59603</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>+ </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>59E6D93F-75A7-4EDB-BCB9-4107C9FB700F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ "$alfred_version" &lt; "5.1" ]]; then 
	echo -n "This feature requires Alfred v5.1 or greater to be installed"
else
	open "alfredpreferences://navigateto/workflows&gt;workflow&gt;$alfred_workflow_uid&gt;userconfig&gt;key"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7872AFE3-6D4C-487E-9F1E-6CFE72F0224F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:{var:key}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open the Logseq Workflow Configuration</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EC9D7AF-4DAA-4AE4-A242-FF923F18F20C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Precondition</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8392128-6542-400B-AB47-842ADA836B03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Blow</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>B767BE17-E3F0-4ADA-9274-406868D9AB93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>xattr -d com.apple.quarantine ./logseq
cat &lt;&lt;EOF | osascript
	tell application id "com.runningwithcrayons.Alfred"
	 	set theWorkflow to "${alfred_workflow_bundleid}"
	 	set allowed to "allowed"
 		set theValue to "1"
	 	set configuration allowed to value theValue in workflow theWorkflow
	 	reload workflow theWorkflow	 end tell
EOF
exit 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>078FD78B-9C53-413C-A36E-33D2BF488DD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>82BDAEE8-5F75-4BAF-9731-AA80FA4E9585</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>72529ABA-6759-4747-8420-90C34837FDC4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>A96EA3CA-B0AD-4C85-81C0-72401F3FBDD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>polite</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>52FA3B1F-48AC-47D2-B5D2-0E3C501A3FD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>50</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>System Light</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>＿＿＿＿＿＿＿＿＿＿＿   􁌴   ＿＿＿＿＿＿＿＿＿＿＿

Granting permission removes the "quarantined" flag that macOS automatically assigns to all files downloaded from the Internet. 

Removing the flag prevents the system from classifying the program as corrupted and allows it to run.

￣￣￣￣￣￣￣￣￣￣￣   􁌴   ￣￣￣￣￣￣￣￣￣￣￣</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>60</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>5BF4AFC8-374D-4ACA-9184-02116F439E1E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Grant Permission</string>
				<key>button2</key>
				<string>More Info</string>
				<key>button3</key>
				<string>Cancel</string>
				<key>description</key>
				<string>To use the Logseq Workflow, 
you have to allow it to run.</string>
				<key>title</key>
				<string>Permissions Required</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>4F9EA13F-3466-427B-BD52-5DF1E2173886</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>D9B287D9-F771-47FF-AEFD-3219AD4BB9B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![icon](icon.png)

# Logseq Workflow

Find blocks, tasks, or pages, and quickly send a note to the journal.

---

Created by [Patrick Sy](https://github.com/zeitlings) | [Visit on Github](https://github.com/zeitlings/alfred-logseq)

---

### Usage

- ` ls . ` Shows static fetch options for blocks with markers.
	- `cmd + shift` to mark task complete.
- ` ls + {{new block}} ` Append to today's journal page.
- ` ls : {{query}} ` Query pages.
	- `cmd + enter` to query blocks on page.
- ` ls {{query}} ` Query blocks.
	- `cmd + enter` to open corresponding page.
	- `opt + enter` to open the first detected URL.[^1]
	- `cmd + L` to view the unabridged block content.
	- `shift` to quick look preview the first detected URL.
- ` :ls ` Open workflow configuration.

---

![preview](ls1.png)


### Info

- How to activate Logseq's [Local HTTP Server](https://docs.logseq.com/#/page/local%20http%20server) and generate a token.

---

**NB**: The date format `MMM do, yyyy` receives special treatment to correctly reproduce the journal page names generated by Logseq. Any other date format must be natively reproducible by Foundation's DateFormatter.

---

[^1]: Also responds to DEVONthink item links.</string>
	<key>uidata</key>
	<dict>
		<key>078FD78B-9C53-413C-A36E-33D2BF488DD8</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>080314F0-C84B-420B-AB8F-A7C600D57DB9</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>4F9EA13F-3466-427B-BD52-5DF1E2173886</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>52FA3B1F-48AC-47D2-B5D2-0E3C501A3FD0</key>
		<dict>
			<key>note</key>
			<string>Permission Handler</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>58962B06-D37E-47DF-A431-A91BB9D2D14E</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>59E6D93F-75A7-4EDB-BCB9-4107C9FB700F</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>Quick Capture</string>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>5BF4AFC8-374D-4ACA-9184-02116F439E1E</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>72529ABA-6759-4747-8420-90C34837FDC4</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>7872AFE3-6D4C-487E-9F1E-6CFE72F0224F</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>82BDAEE8-5F75-4BAF-9731-AA80FA4E9585</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>8EC9D7AF-4DAA-4AE4-A242-FF923F18F20C</key>
		<dict>
			<key>note</key>
			<string>Open Configuration</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>951C9273-FC24-4588-8747-E9CF95891FDC</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A7DBB5E5-6ACC-431D-B043-D4EC39EA0EC4</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>A96EA3CA-B0AD-4C85-81C0-72401F3FBDD1</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>B767BE17-E3F0-4ADA-9274-406868D9AB93</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>D8392128-6542-400B-AB47-842ADA836B03</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>D9B287D9-F771-47FF-AEFD-3219AD4BB9B1</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>E3C80211-AE06-49DA-A9EC-D9F848C59603</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ls</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>MMM do, yyyy</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The date format determines the names of Journal Pages</string>
			<key>label</key>
			<string>Date Format</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>date_format</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>bearer</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>127.0.0.1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Host</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>host</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>12315</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Port</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>port</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Hide Markers</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Display Options</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hide_marker</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Hide Markdown Syntax</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>hide_markdown</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Resolve embedded blocks</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>resolve_embed_block</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
		<key>allowed</key>
		<string>1</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>allowed</string>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-logseq</string>
</dict>
</plist>
