<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>20241009</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>E5394DF7-105B-4D2A-814F-B324511302C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>642A3C27-252D-4903-AB2D-A181D6B035CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>acid</string>
	<key>description</key>
	<string>new gist</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gist</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://gist.github.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>642A3C27-252D-4903-AB2D-A181D6B035CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gist</string>
				<key>subtext</key>
				<string>gist.new</string>
				<key>text</key>
				<string>创建新的代码片段</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5394DF7-105B-4D2A-814F-B324511302C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>split screen and search via multiple website</string>
	<key>uidata</key>
	<dict>
		<key>642A3C27-252D-4903-AB2D-A181D6B035CA</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
		<key>E5394DF7-105B-4D2A-814F-B324511302C9</key>
		<dict>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>275</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
